<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a>Projects</a> |
        <a href="/contact/">Contact</a>
    </nav>

    <h1>My Projects</h1>

    <div class="project-container">

        @for (int i = 1; i <= 5; i++)
        {
            <div class="projects">
                <img src="~/imagenes/profile.jpg" width="170px" alt="">
                <div>
                    <div class="titulo-proyect">@ViewBag.Titulo @i</div>
                    <p class="description">@ViewBag.Texto</p>
                </div>
            </div>
        }
</body>

</html>